.grid {
  width: auto;
  /* 100% wide */
  /* GUTTERS */ }
  .grid:after {
    /* clears content */
    content: "";
    display: table;
    clear: both; }
  .grid [class*="column"] {
    /* selects all columns */
    float: left;
    /* makes columns next to eachother */
    width: 8.33%;
    /* same width for all 12 boxes */
    padding-right: 20px;
    /* applies fixed padding to right of all columns.. */ }
    .grid [class*="column"]:last-of-type {
      /* ...except last on */
      padding-right: 0; }
  .grid *, .grid *:after, .grid *:before {
    /* applies to everything */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif; }
  body h1, body h2, body h3, body h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2; }
  body h1 {
    margin-top: 0;
    font-size: 6.854em; }
  body h2 {
    font-size: 4.236em; }
  body h3 {
    font-size: 2.618em; }
  body h4 {
    font-size: 1.618em; }
  body header {
    width: 100%;
    background: #000;
    padding: 1em 0; }
    body header nav {
      width: 80%;
      margin: 0 auto; }
      body header nav a[href] {
        color: #FFF;
        text-decoration: none; }
        body header nav a[href]:hover {
          text-decoration: underline; }
  body main.container {
    max-width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 1em; }
    body main.container .about-me h1 {
      font-weight: 700;
      margin: 0;
      line-height: 1; }
    body main.container .about-deets h3 {
      margin: 0;
      background: #000;
      color: #FFF; }
