//HOME SECTION
.about-height {
  height: 100vh;
  padding-top: 9em;
}
.about-me {
  h1 {
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }
  p {
    font-size: 1.5vw;

    a[href] {
      color: #000;

      &:hover {
        color: gray;
      }
    }
  }
}
.about-deets {
  h3 {
    margin: 0;
    background: #000;
    color: #FFF;
  }

  .sm-icons {
    a[href]{
      text-decoration: none;
    }

    i {
      padding-right: 0.3em;
      color: #FFF;

      &:first-child {
        padding-left: 0.2em;
      }
    }
  }
} // END home section

// TABLET VIEW
@media screen and (max-width: 1024px) {
  #k-home {
    .col-1-2 {
      width: 100%;
      display: block;
      padding-right: 0;
    }

    .about-me {
      h1 {
        font-size: 10vw;
        display: inline-block;

        &:first-child {
          padding-right: .1em;
        }
      }
      p {
        font-size: 20px;
        padding-bottom: .5em;
      }
    } // END about-me

    .about-deets {
      h3 {
        margin-bottom: .7em;
        margin-right: 0;
      }
    }
  }
} // END tablet

// MOBILE VIEW
@media screen and (max-width: 736px) {

} // END mobile
