//HOME SECTION
.about-height {
  height: 100vh;
  padding-top: 9em;
}
.about-me {
  h1 {
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }
  p {
    font-size: 1.5vw;

    a[href] {
      color: #000;

      &:hover {
        color: gray;
      }
    }
  }
}
.about-deets {
  h3 {
    margin: 0;
    background: #000;
    color: #FFF;
  }

  .sm-icons {
    a[href]{
      text-decoration: none;
    }

    i {
      padding-right: 0.3em;
      color: #FFF;

      &:first-child {
        padding-left: 0.2em;
      }
    }
  }
} // END home section

// TABLET VIEW
@media screen and (max-width: 1024px) {
  #k-home {
    .col-1-2 {
      width: 100%;
      display: block;
    }

    .about-me {
      h1 {
        font-size: 6em;
        display: inline-block;

        &:first-child {
          padding-right: .1em;
        }
      }
      p {
        position: relative;
        top: 60px;
      }
    } // END about-me

    .about-deets {
      h3.title {
        position: relative;
        bottom: 90px;
        padding-right: 0;
      }

      .sm-icons {
        margin-top: 1em;
      }
    }
  }
} // END tablet

// MOBILE VIEW
@media screen and (max-width: 736px) {

} // END mobile
